In [ ]:
import pandas as pd

In [ ]:
customers = pd.read_csv(r'/content/Bank_Customer.csv')

In [ ]:
customers.head()

    age           job  marital  education  balance duration
0  58.0    management  married   tertiary     2143      261
1  44.0    technician   single  secondary       29      151
2  33.0  entrepreneur  married  secondary        2       76
3  47.0   blue-collar  married    unknown     1506       92
4  33.0       unknown   single    unknown        1      198

In [ ]:
customers.shape

(1090, 6)

In [ ]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1090 entries, 0 to 1089
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        1000 non-null   float64
 1   job        1090 non-null   object
 2   marital    1090 non-null   object
 3   education  1090 non-null   object
 4   balance    1090 non-null   int64
 5   duration   1090 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 51.2+ KB

In [ ]:
customers.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1085    False
1086    False
1087    False
1088    False
1089    False
Length: 1090, dtype: bool

In [ ]:
customers.isna().sum()

age          90
job           0
marital       0
education     0
balance       0
duration      0
dtype: int64

In [ ]:
customers.dropna(axis = 'index', how='any',subset = ['age'], inplace = True)

In [ ]:
customers.isna().sum()

age          0
job          0
marital      0
education    0
balance      0
duration     0
dtype: int64

In [ ]:
customers['job'].unique()

array(['management', 'technician', 'entrepreneur', 'blue-collar',
       'unknown', 'retired', 'admin.', 'services', 'self-employed',
       'unemployed', 'housemaid', 'student'], dtype=object)

In [ ]:
customers['marital'].unique()

array(['married', 'single', 'divorced'], dtype=object)

In [ ]:
customers['education'].unique()

array(['tertiary', 'secondary', 'unknown', 'primary'], dtype=object)

In [ ]:
customers['job'] = customers['job'].astype('string')
customers['marital'] = customers['marital'].astype('string')
customers['education'] = customers['education'].astype('string')

In [ ]:
balance_group = customers.groupby(['balance'])

In [ ]:
zero_balance= balance_group.get_group(0)

In [ ]:
zero_balance['marital'].value_counts()

marital
married     58
single      25
divorced     9
Name: count, dtype: Int64

In [ ]:
filt1 = (customers['balance'] < 0) & (customers['marital'] == 'married')

In [ ]:
customers.loc[filt1]

      age            job  marital  education  balance duration
25   44.0         admin.  married  secondary     -372      172
36   25.0    blue-collar  married  secondary       -7      365
37   53.0     technician  married  secondary       -3     1666
46   58.0  self-employed  married   tertiary     -364      355
100  44.0    blue-collar  married  secondary     -674      257
112  56.0  self-employed  married    primary      -34      212
127  34.0       services  married  secondary      -16       78
150  51.0    blue-collar  married    unknown      -19      163
152  40.0     management  married   tertiary       -4     2033
210  38.0    blue-collar  married  secondary     -390      287
214  54.0    blue-collar  married    primary      -41      288
230  47.0    blue-collar  married    primary      -12       18
281  41.0         admin.  married  secondary      -62       55
315  46.0         admin.  married  secondary     -358      358
347  39.0    blue-collar  married    primary     -100      680
447  50.0  self-employed  married    unknown      -84      101
462  43.0    blue-collar  married  secondary     -509      124
489  40.0    blue-collar  married    primary      -66      288
498  44.0    blue-collar  married  secondary      -99      111
537  45.0    blue-collar  married    primary      -66      263
539  34.0    blue-collar  married    primary     -144       79
554  33.0    blue-collar  married  secondary      -10      123
555  36.0         admin.  married  secondary     -106      130
567  46.0     unemployed  married  secondary     -125       23
589  37.0    blue-collar  married    primary     -325      112
623  59.0        retired  married    primary     -119      289
634  52.0   entrepreneur  married   tertiary     -184      392
649  41.0     technician  married  secondary     -366       29
655  33.0    blue-collar  married  secondary     -349      191
657  40.0    blue-collar  married    primary     -322      144
658  29.0         admin.  married  secondary     -150      328
677  35.0     technician  married  secondary     -131      467
736  40.0    blue-collar  married    primary       -7      410
759  37.0     technician  married  secondary     -421      183
778  43.0    blue-collar  married    primary     -454      322
810  36.0    blue-collar  married  secondary     -251      162
847  42.0       services  married  secondary     -246      149
848  56.0    blue-collar  married  secondary     -203      139
852  54.0     management  married   tertiary     -248      112
924  32.0    blue-collar  married  secondary     -205      388
928  52.0    blue-collar  married  secondary      -98      423
930  55.0        retired  married    primary      -90      634
932  40.0    blue-collar  married  secondary      -94      227
933  39.0    blue-collar  married  secondary     -345       69
934  54.0    blue-collar  married  secondary     -932      799
941  47.0    blue-collar  married  secondary       -5      444
945  33.0         admin.  married  secondary       -6      566
958  38.0       services  married  secondary      -32      154
974  31.0     unemployed  married  secondary     -825      179

In [ ]:
customers['age'].agg([min,max])

min    22.0
max    61.0
Name: age, dtype: float64

In [ ]:
customers['duration']= pd.to_numeric(customers['duration'], errors='coerce')

In [ ]:
filt2 = customers['duration'] > customers['duration'].median()
customers.loc[filt2,'job']

0        management
6        management
7      entrepreneur
10           admin.
12       technician
           ...
995     blue-collar
996          admin.
997     blue-collar
998        services
999      technician
Name: job, Length: 495, dtype: string

In [ ]:
customers.sort_values(by = 'duration', ascending = False)

      age          job   marital  education  balance  duration
152  40.0   management   married   tertiary       -4    2033.0
600  38.0  blue-collar   married  secondary      384    1906.0
59   46.0     services   married    primary      179    1778.0
474  34.0       admin.   married  secondary      869    1677.0
37   53.0   technician   married  secondary       -3    1666.0
..    ...          ...       ...        ...      ...       ...
550  42.0     services  divorced  secondary      372       NaN
660  32.0       admin.   married   tertiary      281       NaN
770  42.0     services   married  secondary        0       NaN
880  37.0     services   married  secondary       78       NaN
990  37.0   unemployed  divorced    primary      849       NaN

[1000 rows x 6 columns]

In [ ]:
customers.dropna(axis = 'index', how='any',inplace=True)